.game-request {
    box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45);
    background-size: cover;
    border-radius: 5px;
    text-align: left;
    text-transform: capitalize;
}

.game-request.chosen {
    background-color: greenyellow;
    color: black;
}

.game-request.pending {
    background-color: steelblue;
}

.game-request-body {
    align-items: center;
    display: flex;
    font-size: 18px;
    letter-spacing: -0.3px;
    justify-content: space-between;
    margin: 0px 15px 7px;
    padding: 2px;
}

.game-request-body .options {
    display: flex;
}

.game-request .lock {
    width: 24px;
    opacity:  0.2;
    padding-right: 8px;
    position: absolute;
    margin-left: -24px;
    margin-top: 3px;
}

.game-request .deleteButton {
    background-color: red;
    float: right;
    height: 50%;
    color: white;
    font-size: 11px;
    opacity: 0.5;
    border-radius: 1rem;
}
.game-request .lock,
.game-request .deleteButton {
    cursor: pointer;
}
.game-request .lock:hover,
.game-request .lock:active,
.game-request .lock.locked,
.game-request .deleteButton:hover,
.game-request .deleteButton:active {
    opacity: 1;
}


#game-request-tooltip .tooltip-inner {
    max-width: 500px;
}

.game-request .tooltip {
    display: flex;
    align-items: center;
}

.game-request .tooltipText {
    margin: 0;
}

#game-request-tooltip .status {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    margin-left: 6px;
    margin-top: 3px;
}

#game-request-tooltip .status.active {
    background-color: green;
}

#game-request-tooltip .status.idle {
    background-color: yellow;
}

#game-request-tooltip .status.disconnected {
    background-color: darkgrey;
}
