button.change-col {
    text-transform: uppercase;
    margin: 3px;
    font-size: 11px;
    background-color: lightgray;
}

div.change-col-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    visibility: hidden;
    margin-top: -25px;
}

div.change-col-buttons-container:hover {
    display: flex;
    flex-direction: row;
}

div.change-col-buttons-container .changeCol {
    background-color: indianred;
}

.player-card:hover {
    background-color: dimgray;
}

.player-card:hover > .changeColButtonsContainer {
    visibility: visible;
}

.player-count {
    font-size: 16px;
    margin-top: 5px;
}

.player-count.overlimit {
    font-weight: bold;
    color: darkorange;
}

button.start-game {
    margin: 15px;
}

.player-select .player-card-container {
    overflow-y: auto;
    height: calc(100vh - 250px);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-card-column {
    width: 50%;
    height: 100%;
    margin: 0 5px;
    border-radius: 5px;
}

.player-card-column.interested {
    background-color: slategrey;
}

.player-card-column.playing {
    background-color: teal;
}

.player-card-column.joined {
    background-color: seagreen;
    display: none;
}

.player-card-column > p {
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
}

.player-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray;
    margin: 8px;
    border-radius: 5px;
    border-style: outset;
    border-color: cadetblue;
}

.player-card-username {
    display: flex;
}

.player-card-username > img {
    width: 16px;
    margin-left: 3px;
}

.player-name {
    margin: 3px 5px;
    font-weight: 500;
    word-wrap: break-word;
    text-align: left;
}

button.dice {
    width: 25px;
    height: 25px;
    background-color: greenyellow;
    border-radius: 5px;
    margin-left: 10px;
    padding: 0px;
    vertical-align: middle;
    cursor: pointer;
}

button.dice > img {
    width: 100%;
    height: 100%;
}

.toggle-streamer-seat {
    display: flex;
    align-items: center;
}

.toggle-streamer-seat .toggle-label {
    font-size: 12px;
    max-width: 80px;
    overflow-wrap: break-word;
    text-align: right;
    margin-right: 8px;
}

.toggle-streamer-seat .form-switch {
    padding-left: 3em;
}
.toggle-streamer-seat .form-switch .form-check-input {
    height: 1.6em;
    width: 3em;
    margin-left: -3em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 3em;
    transition: background-position 0.15s ease-in-out;
    background-color: #f87171;
    border-color: #f87171;
}
.toggle-streamer-seat .form-check-input:checked {
    background-color: #34d399;
    border-color: #34d399;
}
