body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* paragraph styles */
.p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.fade-in {
    opacity: 0;
    animation: 0.25s linear 0s fadein;
    animation-fill-mode: forwards;
}
.fade-in-delay {
    opacity: 0;
    animation: 0.25s linear 0.75s fadein;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    from    { opacity:0; }
    to      { opacity:1; }
}

button:not(:disabled) {
    cursor: pointer;
}
button:disabled {
    cursor: not-allowed;
}
