

#baseDiv {
  box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45);
  background-size: cover;
  border-radius: 5px;
}

.deleteButton {
  margin-right: 12px;
  background-color: red;
  float: right;
  height: 50%;
  color: white;
  font-size: 16px;
}
