

#baseDiv {
  box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45);
  background-size: cover;
  border-radius: 5px;
  text-align: left;
  text-transform: capitalize;
}

#baseDiv.chosen {
  background-color: greenyellow;
  color: black;
}

#baseDiv.pending {
  background-color: steelblue;
}

.deleteButton {
  background-color: red;
  float: right;
  height: 50%;
  color: white;
  font-size: 11px;
  padding: 3px 5px;
}

.tooltip {
  display: flex;
  align-items: center;
}

.tooltipText {
  margin: 0;
}

.status {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  margin-left: 6px;
  margin-top: 3px;
}

.status.active {
    background-color: green;
}

.status.idle {
    background-color: yellow;
}

.status.disconnected {
  background-color: darkgrey;
}
