.partyPackList {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  text-align: left;
}

.partyPackCard {
  background-color: darkslategrey;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.partyPackName > input[type='checkbox'] {
    float: right;
}

.partyPackGameList {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.partyPackGameList .gameName {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .partyPackCard {
    width: 80%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .partyPackCard {
    width: 38%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .partyPackCard {
    width: 25%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .partyPackCard {
    width: 18%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .partyPackCard {
    width: 18%;
  }
}

.partyPackName {
  font-size: 16px;
  margin: 0;
}

.gameName {
  font-size: 12px;
  margin-bottom: 2px;
}

.possibleGameMatch {
  font-size: 10px;
  color: darkgrey;
}
