#sidebar {
    margin-left: 12px;
    text-transform: capitalize;
    width: 33%;
}
#sidebar.game {
    width: 33%;
}
#sidebar.seat {
    width: 20%;
}
#sidebar .sidebar-panel {
    background-color: darkslategrey;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 1px;
}
#sidebar .sidebar-panel:last-child {
    padding: 5px;
}

#sidebar .sidebar-panel-up-next,
#sidebar .sidebar-panel-history {
    font-size: 14px;
    font-weight: 700;
}
#sidebar .sidebar-panel-up-next {
    padding: 8px;
}
#sidebar .next-game-name {
    margin-bottom: 5px;
}
#sidebar .next-game-party-pack {
    font-size: 11px;
    font-weight: 400;
    margin-top: 0px;
    color: lightgray;
}
#sidebar .sidebar-panel-up-next button {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    background-color: aquamarine;
    color: black;
    border-radius: 5px;
    width: 90%;
}
#sidebar .sidebar-panel-up-next button:disabled {
    color: gray;
    font-weight: inherit;
    font-style: italic;
}

#sidebar .nav-wrapper {
    display: flex;
    justify-content: space-between;
}
#sidebar .nav-wrapper button {
    background-color: darkcyan;
    border-radius: 5px;
    margin-top: 0;
    width: 50%;
    margin-bottom: 20px;
}
#sidebar .nav-wrapper button.move-next-game-back {
    margin-right: 5px;
}
#sidebar .nav-wrapper button.move-next-game-fwd {
    margin-left: 5px;
}

#sidebar .sidebar-panel-history-list {
    font-size: 12px;
}
#sidebar .sidebar-panel-history-list li b {
    color: aquamarine;
}
